<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
	<title><?php echo $pageTitle; ?></title>
	<link rel="stylesheet" type="text/css" href="Templates/template.css">
    <script type="text/javascript" src="Templates/popup.js"></script>
</head>

<body>
	<section id="page">
		<header id="pageheader">
			<section id="logo_homelink">
				<a id="home" href="index.php">
					<img src="Images/logo.png" alt="Simon's PHP Test Site" style="width:250px;border:0;">
				</a>
			</section>
			<nav>
                <div class="dropdown">
                    <button class="dropbtn" onclick= "location.href = 'index.php';">Home</button>
                </div>
				<div class="dropdown">
                    <button class="dropbtn" onclick= "location.href = 'ads.php';">Activity 1</button>
                    <div class="dropdown-content">
                        <a href="calc.php">Fuel Calc</a>
                        <a href="calcV2.php">Sticky Fuel Calc</a>
                        <a href="calcV3.php">Calc with User-Defined function</a>
                        <a href="calcV4.php">Calc with Radio function</a>
                        <a href="calcV5.php">Calc with return function</a>
                        <a href="ads.php">Index With Ads</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn" onclick= "location.href = 'activity2.php';">Activity 2</button>
                    <div class="dropdown-content">
                        <a href="register.php">Register</a>
                        <a href="registersecure.php">Register Secure</a>
                        <a href="view_users.php">View Users</a>
                        <a href="view_users_count.php">View Users w/Row Counting</a>
                        <a href="password.php">Change Password</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn" onclick= "location.href = 'activity2.php';">Activity3</button>
                    <div class="dropdown-content">
                        <a href="view_users10.php">View Users w/Send values</a>
                        <a href="view_users_bypage.php">View Users By Page</a>
                        <a href="view_users_sort.php">Sort Users</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn" onclick= "location.href = 'activity2.php';">Activity4</button>
                    <div class="dropdown-content">
                        <a href="email.php">Contact Me</a>
                        <a href="upload_image.php">Upload Images</a>
                        <a href="images.php">Show Images</a>
                    </div>
                </div>
            </nav>
		</header>
		<hr/ id="top">
        <section id="content">
            <!-- Header Template     -->