<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
	<title><?php echo $pageTitle; ?></title>
	<link rel="stylesheet" type="text/css" href="Templates/template.css">
</head>

<body>
	<section id="page">
		<header id="pageheader">
			<section id="logo_homelink">
				<a id="home" href="index.php">
					<img src="Images/logo.png" alt="Simon's PHP Test Site" style="width:250px;border:0;">
				</a>
			</section>
			<nav>
                				<div class="dropdown">
                                    <button class="dropbtn" onclick= "location.href = 'index.php';">Home</button>

</div>
				<div class="dropdown">
  <button class="dropbtn" onclick= "location.href = '';">Activity 1</button>
  <div class="dropdown-content">
    <a href="calc.php">Fuel Calc</a>
    <a href="calcV2.php">Sticky Fuel Calc</a>
    <a href="calcV3.php">Calc with User-Defined function</a>
    <a href="ads.php">Index With Ads</a>
  </div>
</div>
       <div class="dropdown">
           <button class="dropbtn" onclick= "location.href = 'Membership.html';">Membership</button>
  <div class="dropdown-content">
    <a href="MembershipTeirs.html">Membership Teirs</a>
    <a href="PayGo.html">Pay & Go</a>
    <a href="Regster.html">Online Registration</a>
  </div>
</div>
       <div class="dropdown">
           <button class="dropbtn" onclick= "location.href = 'Facilities.html';">Facilities</button>
  <div class="dropdown-content">
    <a href="Tech.html">Technology</a>
    <a href="Equipment.html">Equipment</a>
    <a href="Pool.html">Swimming Pool</a>
      <a href="ShowerSauna.html">Shower & Sauna</a>
      <a href="Boxing.html">Boxing Ring</a>
      <a href="Changing.html">Changing Rooms</a>
      <a href="Cafe.html">Cafe</a>
      <a href="WiFi.html">WiFi</a>
  </div>
</div>
                <div class="dropdown">
                    <button class="dropbtn" onclick= "location.href = 'ClassFitness.html';">Classes & Fitness</button>
  <div class="dropdown-content">
    <a href="Classes.html">Classes We Offer</a>
    <a href="Timetables.html">Timetables</a>
    <a href="BookClass.html">Book a Class</a>
  </div>
</div>
       <div class="dropdown">
           <button class="dropbtn" onclick= "location.href = 'Staff.html';">Staff & Contact</button>
  <div class="dropdown-content">
    <a href="ContactUs.html">Contact Details</a>
    <a href="Find.html">Find Us</a>
    <a href="Form.html">Enquiry Form</a>
      <a href="FAQ.html">FAQ</a>
  </div>
</div>
			</nav>
		</header>
		<hr/ id="top">
        <section id="content">
            <!-- Header Template     -->